name: Idris2 and External Libs

on:
  push:
    branches:
      - '*'
    tags:
      - '*'
    paths-ignore:
      - 'docs/**'
      - 'icons/**'
      - 'Release/**'
      - '**.md'
      - 'CONTRIBUTORS'
      - 'LICENSE'
      - 'CHANGELOG.md'
      - '.github/workflows/ci-bootstrap.yml'
      - '.github/workflows/ci-lint.yml'
      - '.github/workflows/ci-sphinx.yml'
      - '.github/workflows/ci-super-linter.yml'
  pull_request:
    branches:
      - main
    paths-ignore:
      - 'docs/**'
      - 'icons/**'
      - 'Release/**'
      - '**.md'
      - 'CONTRIBUTORS'
      - 'LICENSE'
      - '.github/workflows/ci-bootstrap.yml'
      - '.github/workflows/ci-lint.yml'
      - '.github/workflows/ci-sphinx.yml'
      - '.github/workflows/ci-super-linter.yml'

concurrency:
  group: ${{ github.ref }}
  cancel-in-progress: true

env:
  # We aim to keep newest Idris commits buildable by as early of a
  # previous version as possible. In reality, we bump this regularly
  # to allow us to use new compiler/library features in the compiler
  # codebase, but an admirable longterm goal is to support building the
  # current version of the compiler with a previous version that is older
  # than its immediate predecessor.
  IDRIS2_MINIMUM_COMPAT_VERSION: 0.8.0

jobs:
  macos-test-chez:
    runs-on: macos-latest
    timeout-minutes: 45
    env:
      SCHEME: chez
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Install build dependencies
        run: |
          brew update
          brew install chezscheme
      - name: Install support files
        run: |
          make test-support
          cp /Users/runner/work/Idris2/Idris2/build/env/idris2-0.8.0/lib/libidris2_support.dylib /Users/runner/work/Idris2/Idris2/tests/build/exec/runtests_app
      - name: Compile `.so`
        run: /opt/homebrew/bin/chez --script /Users/runner/work/Idris2/Idris2/tests/build/exec/runtests_app/compileChez
      - name: Test
        run: make ci-macos-test INTERACTIVE=''
        shell: bash
