name: Idris2 and External Libs

on:
  push:
    branches:
      - '*'
    tags:
      - '*'
    paths-ignore:
      - 'docs/**'
      - 'icons/**'
      - 'Release/**'
      - '**.md'
      - 'CONTRIBUTORS'
      - 'LICENSE'
      - 'CHANGELOG.md'
      - '.github/workflows/ci-bootstrap.yml'
      - '.github/workflows/ci-lint.yml'
      - '.github/workflows/ci-sphinx.yml'
      - '.github/workflows/ci-super-linter.yml'
  pull_request:
    branches:
      - main
    paths-ignore:
      - 'docs/**'
      - 'icons/**'
      - 'Release/**'
      - '**.md'
      - 'CONTRIBUTORS'
      - 'LICENSE'
      - '.github/workflows/ci-bootstrap.yml'
      - '.github/workflows/ci-lint.yml'
      - '.github/workflows/ci-sphinx.yml'
      - '.github/workflows/ci-super-linter.yml'

concurrency:
  group: ${{ github.ref }}
  cancel-in-progress: true

env:
  # We aim to keep newest Idris commits buildable by as early of a
  # previous version as possible. In reality, we bump this regularly
  # to allow us to use new compiler/library features in the compiler
  # codebase, but an admirable longterm goal is to support building the
  # current version of the compiler with a previous version that is older
  # than its immediate predecessor.
  IDRIS2_MINIMUM_COMPAT_VERSION: 0.7.0

jobs:

  windows-bootstrap-chez:
    runs-on: windows-latest
    timeout-minutes: 30
    env:
      MSYSTEM: MINGW64
      MSYS2_PATH_TYPE: inherit
      SCHEME: scheme
      CC: gcc
    steps:
      - name: Init
        run: |
          git config --global core.autocrlf false
      - name: Checkout
        uses: actions/checkout@v4
      - name: Get Chez Scheme
        run: |
          git clone --depth 1 --branch v9.5.8a https://github.com/cisco/ChezScheme
          c:\msys64\usr\bin\bash -l -c "pacman -S --noconfirm tar make mingw-w64-x86_64-gcc"
          echo "PWD=$(c:\msys64\usr\bin\cygpath -u $(pwd))" | Out-File -FilePath $env:GITHUB_ENV -Encoding utf8 -Append
      - name: Configure and Build Chez Scheme
        run: |
          c:\msys64\usr\bin\bash -l -c "cd $env:PWD && cd ChezScheme && ./configure --threads && make"
      - name: Set Path
        run: |
          $chez="$(pwd)\ChezScheme\ta6nt\bin\ta6nt"
          $idris="$(pwd)\.idris2"
          echo "$chez" | Out-File -FilePath $env:GITHUB_PATH -Encoding utf8 -Append
          echo "$idris\bin" | Out-File -FilePath $env:GITHUB_PATH -Encoding utf8 -Append
          echo "IDRIS_PREFIX=$idris" | Out-File -FilePath $env:GITHUB_ENV -Encoding utf8 -Append
          echo "PREFIX=$(c:\msys64\usr\bin\cygpath -u $idris)" | Out-File -FilePath $env:GITHUB_ENV -Encoding utf8 -Append
      - name: Test Scheme
        run: |
          scheme --version
      - name: Bootstrap
        run: c:\msys64\usr\bin\bash -l -c "cd $env:PWD && make bootstrap"
      - name: Bootstrap test
        run: c:\msys64\usr\bin\bash -l -c "cd $env:PWD && make ci-windows-bootstrap-test"
