---
name: Lint the sources

permissions:
  contents: read

on:
  push:
    branches:
      - "*"
    tags:
      - "*"
  pull_request:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          persist-credentials: false # https://docs.zizmor.sh/audits/#artipacked
      - name: Lint the sources
        run: python3 lint/lint.py
        shell: bash
