name: Lint Code Base

on:
  push:
    branches:
      - '*'
    tags:
      - '*'
  pull_request:
    branches:
      - main

jobs:
  build:
    name: Lint Code Base
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v4
        with:
          # Full git history is needed to get a proper list of changed files
          # within `super-linter`
          fetch-depth: 0

      - name: Lint Code Base
        uses: super-linter/super-linter/slim@v8
        env:
          VALIDATE_ALL_CODEBASE: false # Lint only changed files
          VALIDATE_CPP: false # Incompatible with C; clang-format is preferred
          VALIDATE_BIOME_LINT: false # Avoid conflict: Prettier is preferred
          VALIDATE_BIOME_FORMAT: false # Avoid conflict: Prettier is preferred
          VALIDATE_PYTHON_BLACK: false # Avoid conflict: Ruff is preferred
          VALIDATE_GIT_COMMITLINT: false

          SAVE_SUPER_LINTER_SUMMARY: true # Required for generating linting reports in PR

          DEFAULT_BRANCH: main
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          IGNORE_GENERATED_FILES: true
